@use "../../styles/colors" as color;
@import "../../styles/mixin";

.btn__pill {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  @include center-both;
  @include text-styles(1rem, 700, color.$gray-10);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: color.$primary-color;
    color: color.$assistant-gray-color;
  }
}

.btn__pill__small {
  width: 50%;
  height: 1rem;
  margin: 0 auto;
  @include center-both;
  @include text-styles(0.75rem, 500, color.$gray-10);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: color.$primary-color;
    color: color.$assistant-gray-color;
  }
}

.btn__pill__modal {
  width: 50%;
  height: 1.5rem;
  margin: 0 auto;
  @include center-both;
  @include text-styles(0.75rem, 500, color.$gray-10);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: color.$primary-color;
    color: color.$assistant-gray-color;
    transform: scale(1.1, 1.1);
  }
}

.btn__pill__order {
  width: 50%;
  height: 1.5rem;
  @include center-both;
  @include text-styles(0.75rem, 500, color.$gray-10);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: color.$gray-10;
    color: color.$gray-1;
    transform: scale(1.1, 1.1);
  }
}

.btn__checkIn__pill {
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  @include center-both;
  @include text-styles(1rem, 700, color.$gray-10);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: color.$primary-color;
    color: color.$assistant-gray-color;
  }
}

.btn__link {
  margin-top: 0.5rem;
  @include center-both;
  background-color: unset;
  border: none;
  @include text-styles(1rem, 400, color.$gray-1);
  cursor: pointer;

  &:hover {
    color: color.$primary-color;
  }
}
