@use "../../styles/colors" as color;
@import "../../styles/mixin";

.infoCard_container {
  width: 100%;
  @include center-both;
  gap: 2rem;

  .infoCard_fist {
    width: 30%;
    height: 2rem;
    @include center-both;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    background-color: color.$gray-3;
  }

  .infoCard_last {
    width: 70%;
    height: 2rem;
    @include center-both;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: color.$gray-3;
  }
}
