@use "../../styles/colors" as color;
@import "../../styles/mixin";

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}
