@use "/styles/colors" as color;
@import "/styles/mixin";

.addMenuModal_container {
  width: 80%;
  height: 70vh;
  padding: 1rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid color.$gray-8;
  border-radius: 30px;
  background-color: color.$brand-light-color;
  z-index: 100;
  overflow: hidden;

  .infoBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .image {
      width: 50%;
      border-radius: 30px;

      &_img {
        width: 100%;
        max-width: 13rem;
        max-height: 9rem;
        border-radius: 30px;
      }
    }

    .info {
      width: 50%;
      height: 10rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      @include text-styles(1rem, 500, color.$gray-8);
      gap: 0.5rem;
    }
  }

  .controlPanel {
    position: fixed;
    bottom: 0.5rem;
    right: 0;
    width: 20%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    @include text-styles(0.75rem, 500, color.$gray-10);

    &_label {
      width: 50%;
      height: 1.5rem;
      background-color: color.$gray-1;
      border-radius: 10px;
      @include center-both;
      cursor: pointer;

      &:hover {
        transform: scale(1.1, 1.1);
        background-color: color.$primary-color;
        color: color.$assistant-gray-color;
      }
    }

    &_input {
      display: none;
    }

    &_span {
      display: none;
    }
  }
}

@media screen and (min-width: 870px) {
  .addMenuModal_container {
    .infoBox {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5rem;

      .image {
        width: 50%;
        border-radius: 30px;

        &_img {
          width: 100%;
          max-width: none;
          height: 70%;
          max-height: 18rem;
          border-radius: 30px;
        }
      }
    }
    .controlPanel {
      width: 80%;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row;
      gap: 2rem;

      &_label {
        width: 70%;
      }

      &_span {
        display: unset;
      }
    }
  }
}
