// colors
$brand-color: #55c57a;
$brand-light-color: #7ed56f;
$primary-color: #ff7730;
$primary-light-color: #ffb900;
$secondary-color: #5643fa;
$secondary-light-color: #2998ff;
$success-color: #2d78d4;
$warning-color: #ffc542;
$error-color: #fc5a5a;

// assistant color
$assistant-orange-color: #ff974a;
$assistant-blue-color: #50b5ff;
$assistant-green-color: #28b485;
$assistant-purple-color: #a461d8;
$assistant-yellow-color: #ffff00;
$assistant-gray-color: #495153;

// grayscale color
$gray-11: #171717;
$gray-10: #171725;
$gray-9: #44444f;
$gray-8: #696974;
$gray-7: #92929d;
$gray-6: #b5b5be;
$gray-5: #d5d5dc;
$gray-4: #e2e2ea;
$gray-3: #f1f1f5;
$gray-2: #fafafb;
$gray-1: #ffffff;
